@using System
@using System.Data.SqlClient;

@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/data/css/stylesheet.css">
    <script src="https://kit.fontawesome.com/67ba5841f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script>
        function validate() {
            if (document.myForm.Email.value == "") {
                alert("Please Provide valid email");
                document.myForm.From.focus();
                return false;
            }
            if (document.myForm.Password.value == "") {
                alert("Please Provide Password");
                document.myForm.From.focus();
                return false;
            }

            return true;
        }
    </script>
    <title>HMS</title>
</head>

<body>
    <div class="bgm">
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark">
                <a href="#" class="navbar-brand">StarHostel</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#Menu">
                    <span class="navbar-toggler icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Menu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link " href="/Home/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/ContactUs">ContactUs</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <form class="form-container" method="post" action="~/Home/Login" name="myForm" onsubmit="return(validate())">
                        <div class="form-group">
                            <label for="exampleInputEmail1"></label>
                            <input type="email" class="form-control" name="Email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"></label>
                            <input type="password" class="form-control" name="Password" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>

                        <button type="submit" class="btn btn-success btn-block"><a class="nav-link" href="/Home/Register">Register</a></button>
                    </form>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
            </div>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container text-center py-3">
                &copy; 2020 - webApp - <a asp-area="">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

@if(ViewBag.Message!=null)
{
    
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };


    </script>
}

</body>

</html>

