
@{
    ViewData["Title"] = "Studentportal";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/data/css/stylesheet.css">
    <script src="https://kit.fontawesome.com/67ba5841f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>HMS</title>
</head>

<body>
    <div class="bgm">
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark">
                <a href="#" class="navbar-brand">StarHostel</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#Menu">
                    <span class="navbar-toggler icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Menu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link " href="/Home/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/ContactUs">ContactUs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Login">Log out</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <br>
                    <form action="/Student/Student_info_form" method="post">
                        <input type="hidden" name="Em" value="@ViewData["Message"]" />
                        <button type="submit" class="btn btn-info btn-block">View Allotment</button>
                        <br>
                    </form>

                    <form action="/Student/Student_fee" method="post">
                        <input type="hidden" name="email" value="@ViewData["Message"]" />
                        <button type="submit" class="btn btn-info btn-block">Fee Details</button>

                    </form>
                    <br>
                    <form action="/Student/Student_mess" method="post">
                        <button type="" class="btn btn-info btn-block"><a class="nav-link" href="/Student/Student_mess">Mess Details</a></button>
                        </form>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
            </div>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container1 text-center py-3">
                &copy; 2020 - webApp - <a asp-area="">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>